.contenedor_corazon_titulo_aluraGeek_pie_pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}
.desarrollador{
    font-size: 10px;
}
.alura{
    font-size: 8px;
    
}